---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import GalleryImage from "../components/gallery_image.astro";
import GalleryImageVisualizer from "../components/gallery_image_visualizer.astro";

import { readdirSync } from "fs";
import { join } from "path";

const galerieDir = join(process.cwd(), "public", "assets", "galerie");
const galerieFolders = readdirSync(galerieDir, { withFileTypes: true })
    .filter(entry => entry.isDirectory())
    .map(folderEntry => {
        const folderPath = join(galerieDir, folderEntry.name);
        const images = readdirSync(folderPath, { withFileTypes: true })
            .filter(file => file.isFile())
            .map(file => file.name)
            .filter(name => /\.(jpe?g|png|webp|gif|avif|svg)$/i.test(name))
            .sort();

        // fisierele trebuie sa aiba neaparat la inceputul numelui "{numar}. {nume folder}"
        // faciliteaza sortarea personalizata
        let fname = folderEntry.name;
        return {
            name: fname.split(' ').splice(1, fname.length - 1).join(' '),
            images,
            url: `/assets/galerie/${encodeURIComponent(folderEntry.name)}`,
        };
    });

---

<BaseLayout title="Galerie">
    <NavBar activeLink={5} />
      
    <GalleryImageVisualizer />

    <div class="gallery">
        {
            galerieFolders.map(folder => (
                <section class="gallery-folder">
                    <div class="title-container">
                        <span class="title-underline">
                            { folder.name }
                        </span>
                    </div>

                    <div class="images">
                        {
                            folder.images.length
                                ? folder.images.map((image, index) => (
                                        <GalleryImage 
                                            src = { `${folder.url}/${encodeURIComponent(image)}` } 
                                            identifier = { `${folder.name}` } 
                                            index = { index }
                                        />
                                    ))
                                : <p>No images found.</p>
                        }
                    </div>
                </section>
            ))
        }
    </div>
</BaseLayout>

<style>
    .gallery-folder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        flex-wrap: wrap;
    }

    .gallery-folder { margin-bottom: 8rem; }
    .no-mb { margin-bottom: 0 !important; }

    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
</style>

<script>
    function openFullView(image_element: HTMLImageElement) {
        const image_visualizer = document.getElementById('image-visualizer') as HTMLImageElement;
        const image_container = image_visualizer.parentElement as HTMLDivElement;
        
        window.dispatchEvent(new CustomEvent('open-image-visualizer', { 
            detail: {
                'identifier' : image_element.getAttribute('data-identifier'),
                'index' : image_element.getAttribute('data-index')
            } 
        }));
        
        image_visualizer.src = image_element.src;
        image_visualizer.setAttribute('data-visible', 'true');
        image_container.style.zIndex = '100'; // totally not overkill
        image_container.style.background = "#111d";
    }

    document.addEventListener('astro:page-load', () => {
        const images = document.querySelectorAll('.gallery-placed-image') as NodeListOf<HTMLImageElement>;
        images.forEach((img) => {
            img.addEventListener('click', () => { openFullView(img); });
        });
    })
</script>