---
const home_button_src = "/assets/Logo_alb.png";

// selected link prop
const { activeLink = -1, has_margin = true } = Astro.props;
const links = [
    { name: "Acasă", href: "/" },
    { name: "Echipă", href: "/echipa" },
    { name: "Activitate", href: "/activitate" },
    { name: "Rezultatele", href: "/rezultate" },
    { name: "Sponsori", href: "/sponsori" },
    { name: "Galerie", href: "/galerie" },
    { name: "Știri", href: "/news" },
    { name: "Contact", href: "/contact" }
]
---
<div class = 'mobile-background-blur' onclick = 'switch_menu_visibility("0px")' />
<nav>
    <div class = 'home-container'>
        <a class = 'navbar-home scale-hover' href="/"> <img style = "width: calc(var(--min-height) - 5px);" src = {home_button_src} alt="Home" /> </a>
    </div>
    
    <div class = 'links-container'>
        <div class="gtranslate_wrapper"></div>
        <a class="hamburger-btn" onclick = 'switch_menu_visibility()' >&#8801;</a>
        <!-- genereaza dinamic linkurile -> se poate atribui din index activeLink prop -->
        <div class="links-wrapper">
            {
                links.map((link, index) => {
                    return (<>
                        <a 
                            class = {`navbar-link scale-hover ${activeLink === index ? "active" : ""}`}
                            href = {link.href}
                        > 
                            {link.name} 
                        </a>
                        
                    </>);
                })
            }
        </div>
    </div>
</nav>

<div class="mobile-nav">
    <div class="mobile-xbtn-container">
        <a class = 'mobile-xbtn' onclick = 'switch_menu_visibility()'>x</a>
    </div>
    <div style = "display: flex; justify-content: center; width: 100%; height: 100%;">
        <div class="mobile-links-wrapper">
            {
                links.map((link, index) => {
                    return (<a 
                        class = {`mobile-navbar-link scale-hover ${activeLink === index ? "mobile-active" : ""}`}
                        href = {link.href}
                    > 
                        {link.name} 
                    </a>);
                })
            }
        </div>
    </div>
</div>

{has_margin && <div class = 'nav-margin'></div>}

<script>
    function update_background() {
        const nav = document.querySelector("nav") as HTMLElement;
        var yOffset = window.pageYOffset || document.body.scrollTop;
        
        if (yOffset <= 20) {
            nav.style.background = "transparent";
            nav.style.backdropFilter = "none";
        } else {
            nav.style.background = "var(--navbar_bg_color)";
            nav.style.backdropFilter = "var(--navbar_bg_filter)";
        }
    }
    
    ['astro:page-load', 'DOMContentLoaded'].forEach((ev) => {
        document.addEventListener(ev, () => {
            update_background();
            window.addEventListener("scroll", update_background);
        });
    });
</script>

<script is:inline>
    function switch_menu_visibility(force_value = null) {
        let mobilenav = document.querySelector('.mobile-nav');
        let bgblur = document.querySelector('.mobile-background-blur');
        let wd = mobilenav.style.width;

        if (force_value) {
            mobilenav.style.width = force_value;
            bgblur.style.opacity = force_value == '0px' ? '0' : '1';
        }
        else {
            mobilenav.style.width = wd == '0px' ? '100%' : '0px';
            bgblur.style.opacity = wd == '0px' ? '1' : '0';
        }
    }

    function onload_menu_setup() {
        let mobilenav = document.querySelector('.mobile-nav');
        let bgblur = document.querySelector('.mobile-background-blur');
        
        mobilenav.style.width = '0px'; 
        bgblur.style.opacity = '0';
        bgblur.addEventListener('transitionend', () => {
            bgblur.style.pointerEvents = bgblur.style.opacity == '0' ? 'none' : 'all';
        });
    }

    document.addEventListener('astro:page-load', onload_menu_setup);
</script>

<!-- navbar.css -->